Repository Washi1337/Echo, pull requests merged in 2020-10, with the labels that each got.

#62 Fix concurrency bug in IntegerNValue
  src/Core/Echo.Concrete/Values/ValueType/IntegerNValue.cs
Labels: bug, emulation

#65 Fix stack behaviour of fault & finally exception handlers
  src/Platforms/Echo.Platforms.AsmResolver/CilStateTransitionResolver.cs
  src/Platforms/Echo.Platforms.Dnlib/CilStateTransitionResolver.cs
Labels: bug, data-flow, dotnet-asmresolver, dotnet-dnlib

#67 Fix invalid XMLDOC reference in HexLabelNodeAdorner summary
  src/Core/Echo.Core/Graphing/Serialization/Dot/HexLabelNodeAdorner.cs
Labels: documentation

#72 Refactor AST parser logic
  src/Core/Echo.Ast/Analysis/FlowControlDeterminer.cs
  src/Core/Echo.Ast/Analysis/ReadVariableFinderWalker.cs
  src/Core/Echo.Ast/Analysis/WrittenVariableFinderWalker.cs
  src/Core/Echo.Ast/AstArchitecture.cs
  src/Core/Echo.Ast/AstParser.cs
  src/Core/Echo.Ast/Construction/AstParser.cs
  src/Core/Echo.Ast/Construction/AstParserContext.cs
  src/Core/Echo.Ast/Construction/AstVariableListComparer.cs
  src/Core/Echo.Ast/Construction/BlockTransformer.cs
  src/Core/Echo.Ast/Construction/VariableSnapshot.cs
  src/Core/Echo.Ast/Factories/AstVariableCollectionFactory.cs
  src/Core/Echo.Ast/Factories/VariableFactory.cs
  src/Core/Echo.Ast/Helpers/AstParserContext.cs
  src/Core/Echo.Ast/Helpers/AstVariableCollection.cs
  test/Core/Echo.Ast.Tests/AstModelTest.cs
  test/Core/Echo.Ast.Tests/AstParserTest.cs
Labels: ast, enhancement

#68 Block ordering that takes fallthrough edges into account.
  src/Core/Echo.Ast/Construction/AstParser.cs
  src/Core/Echo.ControlFlow/Collections/AdjacencyCollection.cs
  src/Core/Echo.ControlFlow/Collections/NodeCollection.cs
  src/Core/Echo.ControlFlow/Collections/RegionNodeCollection.cs
  src/Core/Echo.ControlFlow/Construction/InstructionTraversalResult.cs
  src/Core/Echo.ControlFlow/ControlFlowEdge.cs
  src/Core/Echo.ControlFlow/ControlFlowEdgeType.cs
  src/Core/Echo.ControlFlow/ControlFlowNode.cs
  src/Core/Echo.ControlFlow/Editing/Synchronization/FlowControlSynchronizer.cs
  src/Core/Echo.ControlFlow/Editing/UpdateFallThroughAction.cs
  src/Core/Echo.ControlFlow/Serialization/Blocks/BlockBuilder.cs
  src/Core/Echo.ControlFlow/Serialization/Blocks/BlockOrderingException.cs
  src/Core/Echo.ControlFlow/Serialization/Blocks/BlockSorter.cs
  src/Core/Echo.ControlFlow/Serialization/Blocks/UnbreakablePathsView.cs
  src/Core/Echo.ControlFlow/Serialization/Dot/ControlFlowEdgeAdorner.cs
  src/Core/Echo.Core/Graphing/Analysis/Sorting/TopologicalSorter.cs
  src/Core/Echo.Core/Graphing/Serialization/Dot/DotWriter.cs
  src/Platforms/Echo.Platforms.AsmResolver/CilStateTransitionResolver.cs
  src/Platforms/Echo.Platforms.AsmResolver/CilStaticSuccessorResolver.cs
  src/Platforms/Echo.Platforms.Dnlib/CilStateTransitionResolver.cs
  src/Platforms/Echo.Platforms.Dnlib/CilStaticSuccessorResolver.cs
  src/Platforms/Echo.Platforms.Iced/X86StateTransitionResolver.cs
  src/Platforms/Echo.Platforms.Iced/X86StaticSuccessorResolver.cs
  test/Core/Echo.ControlFlow.Tests/Construction/Static/StaticGraphBuilderTest.cs
  test/Core/Echo.ControlFlow.Tests/ControlFlowGraphTest.cs
  test/Core/Echo.ControlFlow.Tests/ControlFlowNodeTest.cs
  test/Core/Echo.ControlFlow.Tests/Editing/FlowControlSynchronizerTest.cs
  test/Core/Echo.ControlFlow.Tests/Serialization/Blocks/BlockBuilderTest.cs
  test/Core/Echo.ControlFlow.Tests/Serialization/Blocks/BlockSorterTest.cs
  test/Platforms/Echo.Platforms.DummyPlatform/ControlFlow/DummyStaticSuccessorResolver.cs
  test/Platforms/Echo.Platforms.DummyPlatform/ControlFlow/DummyTransitionResolver.cs
  test/Platforms/Echo.Platforms.Iced.Tests/X86StaticFlowGraphBuilderTest.cs
  test/Platforms/Mocks/FodyWeavers.xsd
Labels: bug, control-flow

#74 Add division for integer values
  src/Core/Echo.Concrete/Values/ValueType/Integer16Value.cs
  src/Core/Echo.Concrete/Values/ValueType/Integer32Value.cs
  src/Core/Echo.Concrete/Values/ValueType/Integer64Value.cs
  src/Core/Echo.Concrete/Values/ValueType/Integer8Value.cs
  src/Core/Echo.Concrete/Values/ValueType/IntegerValue.cs
  test/Core/Echo.Concrete.Tests/Values/ValueType/Integer16ValueTests.cs
  test/Core/Echo.Concrete.Tests/Values/ValueType/Integer32ValueTests .cs
  test/Core/Echo.Concrete.Tests/Values/ValueType/Integer64ValueTests.cs
  test/Core/Echo.Concrete.Tests/Values/ValueType/Integer8ValueTests.cs
  test/Core/Echo.Concrete.Tests/Values/ValueType/IntegerNValueTest.cs
Labels: emulation

#75 Remove redundant parentheses and minor code style fixes
  src/Core/Echo.Concrete/Values/ValueType/IntegerValue.cs
Labels: emulation, enhancement

#77 Add support for Div and Rem instructions in Cil emulator
  src/Core/Echo.Concrete/Values/ValueType/IntegerValue.cs
  src/Platforms/Echo.Platforms.AsmResolver/Emulation/Dispatch/Operators/Div.cs
  src/Platforms/Echo.Platforms.AsmResolver/Emulation/Dispatch/Operators/Rem.cs
  test/Core/Echo.Concrete.Tests/Values/ValueType/IntegerNValueTest.cs
  test/Platforms/Echo.Platforms.AsmResolver.Tests/Emulation/Dispatch/Operators/DivTest.cs
  test/Platforms/Echo.Platforms.AsmResolver.Tests/Emulation/Dispatch/Operators/RemTest.cs
Labels: dotnet-asmresolver, emulation
